services:
  homebox:
    image: homebox
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        - COMMIT=head
        - BUILD_TIME=0001-01-01T00:00:00Z
      x-bake:
        platforms:
          - linux/amd64
          - linux/arm64
          - linux/arm
    environment:
      - HBOX_DEBUG=true
      - HBOX_LOGGER_LEVEL=-1
      - HBOX_OPTIONS_ALLOW_REGISTRATION=false
      - HBOX_OIDC_ENABLED=true
      - HBOX_OIDC_ISSUER_URL=https://idp.reutlingen.university/realms/master
      - HBOX_OIDC_CLIENT_ID=homebox.reutlingen.university
      - HBOX_OIDC_CLIENT_SECRET=${HBOX_OIDC_CLIENT_SECRET}
      - HBOX_OIDC_TENANT_ID=${HBOX_OIDC_TENANT_ID}
      - HBOX_OPTIONS_TRUST_PROXY=true
    ports:
      - 8091:7745
    volumes:
      - ./homebox-data:/data/
